-########### Second NavBar
#header
  %nav.navbar.navbar-expand-lg.shadow.text-white.bg-primary.navbar-dark
    .container
      %a.navbar-brand.logo.p-0.d-flex{href: gaco_cms_admin_path, style: 'font-size: 32px;'}
        %span.text-white= GacoCms::Config.admin_title
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#main_nav_bar", "data-bs-toggle" => "collapse", :type => "button"}
        %span.fa.fa-bars

      #main_nav_bar.collapse.navbar-collapse.justify-content-end.text-white-50
        %ul.navbar-nav
          - if @custom_menus
            - @custom_menus.each do |menu|
              %li.nav-item
                %a.nav-link{href: menu[:url]}= menu[:label]
          - else
            - GacoCms::PageType.all.title_ordered.each do |ptype|
              %li.nav-item
                %a.nav-link{href: gaco_cms_admin_page_type_pages_path(page_type_id: ptype)}= ptype.title
            %li.nav-item
              .vr.bg-black{ style: 'height: 100%' }
            %li.nav-item
              %a.nav-link{href: gaco_cms_admin_page_types_path}= GacoCms::PageType.human_name(count: 2)
            %li.nav-item
              %a.nav-link{href: gaco_cms_admin_themes_path}= GacoCms::Theme.human_name(count: 2)
