%h1= @page_type.title

.text-end
  = link_to(url_for(action: :new), class: 'btn btn-small btn-primary', 'data-controller': 'gaco-cms-modal') do
    = t('gaco_cms.admin.common.add')
    %i.fa.fa-plus

%table.table.table-hover
  %thead
    %tr
      %th= GacoCms::Page.attr_label(:key)
      %th= GacoCms::Page.attr_label(:title)
      %th= GacoCms::Page.attr_label(:created_at)
      %th= GacoCms::Page.attr_label(:updated_at)
      %th

  %tbody
    - @pages.each do |page|
      %tr
        %td= page.key
        %td= page.title
        %td= I18n.l(page.created_at, format: :short)
        %td= I18n.l(page.updated_at, format: :short)
        %td.text-end{ style: 'white-space: nowrap;' }
          = link_to '<i class="fa fa-pencil"></i>'.html_safe, url_for(action: :edit, id: page), class: 'btn btn-primary btn-sm'
          = button_to '<i class="fa fa-trash"></i>'.html_safe, url_for(action: :destroy, id: page), class: 'btn btn-danger btn-sm', form_class: 'd-inline', method: :delete, data: { controller: 'form-confirm', confirm: 'Are you sure?' }
          = link_to '<i class="fa fa-eye"></i>'.html_safe, page.the_path, class: 'btn btn-sm btn-secondary', target: '_blank'
