!!!
%html
  %head
    %title= content_for(:title) || "Gaco CMS"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'gaco_cms_front'
    = javascript_include_tag 'gaco_cms_front'

  %body#body
    %nav.navbar.navbar-expand-lg.shadow.text-white
      .container
        %a.navbar-brand.logo.p-0.d-flex{href: gaco_cms_path, style: 'font-size: 32px;'}
          %span.text-black Gaco
          %span.text-primary CMS
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#main_nav_bar", "data-bs-toggle" => "collapse", :type => "button"}
          %span.fa.fa-bars

        #main_nav_bar.collapse.navbar-collapse.justify-content-end.text-white-50
          %ul.navbar-nav
            - GacoCms::PageType.find_by(key: :pages).pages.each do |page|
              %li.nav-item
                %a.nav-link{href: page_url_for(page.key)}= page.title
            %li.nav-item
              .dropdown
                %a.btn.dropdown-toggle{"data-bs-toggle" => "dropdown", role: "button"}= I18n.locale.to_s.upcase
                %ul.dropdown-menu
                  - GacoCms::Config.locales.each do |locale|
                    %li= link_to locale.upcase, url_for(locale: locale, params: request.query_parameters.except(:locale)), class: 'dropdown-item'

    #container.container.pt-3
      = yield
