%h2= "New #{GacoCms::FieldGroup.human_name}"
= form_for(@group, url: url_for(action: @group.new_record? ? :create : :update), html: { class: 'row' }) do |f|
  .col.col-8.order-2
    .text-end
      .btn-group.btn-group-sm
        %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", type: "button"}
          %i.fa.fa-plus
          = GacoCms::Field.human_name(count: 2)
        %ul.dropdown-menu
          - GacoCms::Field.dropdown_data.each do |v, k|
            %li= link_to(v, url_for(action: :new_field, id: @group, kind: k), class: 'dropdown-item', data: { controller: 'gaco-cms-remote-content', 'gaco-cms-remote-content-target-value': '#fields_list' })

    #fields_list.accordion{ data: { controller: 'gaco-cms-sortable', 'gaco-cms-sortable-handle-value': '.accordion-item .sort-btn', 'gaco-cms-sortable-input-selector-value': '.position-field' } }
      - @group.fields.ordered.each do |field|
        = render 'field', field: field

  .col.col-4.order-1
    .card.sticky-top
      .card-body
        .mb-2
          = required_label f, :title
          = f.text_field :title, value: @group.title_data.to_json, class: 'form-control', required: true, data: { controller: 'gaco-cms-translatable' }

        .mb-2
          = required_label f, :key
          = f.text_field :key, class: 'form-control', required: true

        .mb-2
          = required_label f, :record
          = f.select :record, grouped_options_for_select(@group.available_records, @group.selected_record), {}, class: 'form-select'

        .row.mb-2
          .col.col-auto
            .field
              = f.label :repeat, class: 'd-block'
              = f.check_box :repeat

          .col.col-auto
            = f.label :position
            = f.number_field :position, class: 'form-control', required: true

        .mb-2
          = f.label :description
          .fw{ data: { controller: 'gaco-cms-toggle-field', 'gaco-cms-toggle-field-open-value': @group.description_data.values.any?(&:present?) } }
            = f.text_area :description, value: @group.description_data.to_json, class: 'form-control', data: { controller: 'gaco-cms-translatable' }

      .field.text-end.mb-2
        = button_tag class: 'btn btn-primary' do
          %i.fa.fa-save
          = GacoCms::FieldGroup.human_name
