%h1= GacoCms::FieldGroup.human_name(count: 2)

.text-end
  = link_to(url_for(action: :new), class: 'btn btn-small btn-primary') do
    %i.fa.fa-plus
    = GacoCms::FieldGroup.human_name(count: 2)


%table.table.table-striped
  %thead
    %tr
      %th= GacoCms::FieldGroup.attr_label(:key)
      %th= GacoCms::FieldGroup.attr_label(:title)
      %th= GacoCms::FieldGroup.attr_label(:record)
      %th= GacoCms::FieldGroup.attr_label(:repeat)
      %th= GacoCms::FieldGroup.attr_label(:fields)
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.key
        %td= group.title
        %td= group.record_label
        %td= group.repeat
        %td= group.fields.count
        %td.text-end{ style: 'white-space: nowrap;' }
          = link_to '<i class="fa fa-pencil"></i>'.html_safe, url_for(action: :edit, id: group), class: 'btn btn-secondary btn-sm'
          = button_to '<i class="fa fa-trash"></i>'.html_safe, url_for(action: :destroy, id: group), class: 'btn btn-danger btn-sm', form_class: 'd-inline', method: :delete, data: { controller: 'form-confirm', confirm: 'Are you sure?' }
