= form_for @record, url: url_for(action: :update, id: @record) , html: { 'data-turbo-request-close-modal': 'true', 'data-turbo-request-reload-frame': params[:reload_frame] } do |_f|
  .text-end.mb-1.sticky-top.bg-white.p-2
    = link_to url_for(action: :group_tpl, record_type: @record.class.name, record_id: @record.id), class: 'btn btn-secondary', data: { controller: 'gaco-cms-remote-content', 'gaco-cms-remote-content-target-value': '#field_groups_list' } do
      %i.fa.fa-plus
      = GacoCms::FieldGroup.human_name
    = button_tag class: 'btn btn-primary ms-2' do
      %i.fa.fa-save
      = GacoCms::FieldGroup.human_name.pluralize

  = hidden_field_tag :record_id, params[:record_id]
  = hidden_field_tag :record_type, params[:record_type]
  .accordion#field_groups_list.mb-2{ data: { controller: 'gaco-cms-sortable', 'gaco-cms-sortable-handle-value': '.accordion-item .group-sort-btn', 'gaco-cms-sortable-input-selector-value': '.position-group' } }
    - @groups.each do |group|
      = render 'group', group: group
