%h2= form_title(@page_type)
.row
  = form_for(@page_type, url: url_for(action: @page_type.new_record? ? :create : :update), html: { enctype: 'multipart/form-data', class: 'col-4 col-xs-12' }) do |f|
    .field.mb-2
      = f.label :title
      = f.text_field :title, value: @page_type.title_data.to_json, class: 'form-control', required: true, data: { controller: 'gaco-cms-translatable' }
    .field.mb-2
      = f.label :key
      = f.text_field :key, class: 'form-control', required: true
    .field.mb-2
      = f.label :template
      .fw{ data: { controller: 'gaco-cms-toggle-field', 'gaco-cms-toggle-field-open-value': @page_type.template.present? } }
        = f.text_area :template, class: 'form-control', data: { controller: 'gaco-cms-editor', height: 500 }

    .field.mb-2.text-end
      = link_to url_for(action: :index), class: 'btn btn-secondary me-3' do
        Cancel

      = button_tag class: 'btn btn-primary' do
        Save
        %i.fa.fa-save

  .col-8
    .fieldset_style.mt-0
      .d-flex.justify-content-end.legend_style
        %span.bg-white Custom Fields
      %turbo-frame{ id: 'field-groups-renderer-parent', src: gaco_cms_admin_field_groups_manager_index_path(record_type: @page_type.class.name, record_id: @page_type.id, reload_frame: '#field-groups-renderer-parent') }
